@using Lager;
@model dynamic

@{
    ViewData["Title"] = "Plukliste";
}


<h1 style="display: flex; justify-content: center">Plukliste</h1>
@foreach (var item in Model.plukliste)
{
    <style>
        .auto {
            width: auto;
            margin: auto;
        }

        .box1 {
            display: flex;
            flex-direction: column;
        }
    </style>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="box1">
            <h2 class="auto">@Html.DisplayNameForInnerType((PluklisteFrontModel pluklisteFrontModel) => pluklisteFrontModel.FakturaNummer)</h2>
            <p class="auto">@item.FakturaNummer</p>
        </div>
        <div class="box1">
            <h2 class="auto">@Html.DisplayNameForInnerType((PluklisteFrontModel pluklisteFrontModel) => pluklisteFrontModel.KundeID)</h2>
            <a class="auto" href="@Url.Action("Edit", "Kunde", new { id=item.KundeID })">@item.KundeID</a>
        </div>
        <div class="box1">
            <h2 class="auto">@Html.DisplayNameForInnerType((PluklisteFrontModel pluklisteFrontModel) => pluklisteFrontModel.Forsendelse)</h2>
            <p class="auto">@item.Forsendelse</p>
        </div>
        <div class="box1">
            <h2 class="auto">@Html.DisplayNameForInnerType((PluklisteFrontModel pluklisteFrontModel) => pluklisteFrontModel.Label)</h2>
            <p class="auto">@item.Label</p>
        </div>
        <div class="box1">
            <h2 class="auto">@Html.DisplayNameForInnerType((PluklisteFrontModel pluklisteFrontModel) => pluklisteFrontModel.Print)</h2>
            <p class="auto">@item.Print</p>
        </div>
    </div>


    <p>
        <a class="auto d-print-none" href="@Url.Action("AddItem", "Plukliste", new { id=item.FakturaNummer })">Add Product</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((PluklistItemsModel pluklistItemsModel) => pluklistItemsModel.ProductID)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((PluklistItemsModel pluklistItemsModel) => pluklistItemsModel.Description)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((PluklistItemsModel pluklistItemsModel) => pluklistItemsModel.Antal)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((PluklistItemsModel pluklistItemsModel) => pluklistItemsModel.Amount)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((PluklistItemsModel pluklistItemsModel) => pluklistItemsModel.Rest)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model.details)
            {
                <tr>
                    <td>
                        @items.ProductID
                    </td>
                    <td>
                        @items.Description
                    </td>
                    <td>
                        @items.Antal
                    </td>
                    <td>
                        @items.Amount
                    </td>
                    <td>
                        @items.Rest
                    </td>
                    <td class="d-print-none">
                        @Html.ActionLink("Edit", "EditItem", new { id=item.FakturaNummer, productId=items.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<div>
    <a asp-action="Index" class="d-print-none">Back to List</a>
</div>
