@using Lager;
@model dynamic

@{
    ViewData["Title"] = "Ordre -> Edit";
}

<h1>Edit</h1>

<h4>Ordre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (PluklisteFrontModel item in Model.details)
            {
                <div class="form-group">
                    <label asp-for="@item.FakturaNummer" class="control-label"></label>
                    <input asp-for="@item.FakturaNummer" class="form-control" disabled />
                    <span asp-validation-for="@item.FakturaNummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.KundeID" class="control-label"></label>
                    <select asp-for="@item.KundeID" asp-items="@Model.customer" class="form-control"></select>
                    <span asp-validation-for="@item.KundeID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Forsendelse" class="control-label"></label>
                    <select asp-for="@item.Forsendelse" asp-items="@Model.carriersOptions" class="form-control"></select>
                    <span asp-validation-for="@item.Forsendelse" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@item.Label" /> @Html.DisplayNameForInnerType((PluklisteFrontModel items) => items.Label)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Print" class="control-label"></label>
                    <select asp-for="@item.Print" asp-items="@Model.printOptions" class="form-control"></select>
                    <span asp-validation-for="@item.Print" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
