@model IEnumerable<Lager.Models.PluklisteFrontModel>

@{
    ViewData["Title"] = "Plukliste";
}

<h1>Ordre</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FakturaNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KundeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forsendelse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Print)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FakturaNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KundeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forsendelse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Print)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.FakturaNummer }) |
                    @Html.ActionLink("Details", "Details", new { id=item.FakturaNummer}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
