@model IEnumerable<Lager.Models.KundeModel>

@{
    ViewData["Title"] = "Kunder";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KundeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KundeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.KundeID }) |
                @Html.ActionLink("Details", "Details", new { id=item.KundeID })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.KundeID })*@
            </td>
        </tr>
}
    </tbody>
</table>
