@model car_dealership.Models.EmplyModel

@{
    ViewData["Title"] = "Emplyee Details";
}

<h1>View</h1>

<div>
    <h4>Emplyee Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmplyID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmplyID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmplyID }) |
    <a asp-action="Index">Back to List</a>
</div>
